In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from sklearn.ensemble import RandomForestRegressor as RFR

In [2]:
dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}
train =pd.read_csv('E://Favorita/train/train.csv', dtype=dtypes, parse_dates=['date'],
                    skiprows=range(1, 106672217))
test =pd.read_csv('E://Favorita/test.csv/test.csv', dtype=dtypes, parse_dates=['date'])

In [13]:
items=pd.read_csv('E://Favorita/items.csv/items.csv')

In [3]:
#removing all observation from training dataset which doesnt exist in test
test_unique=test['item_nbr'].unique().tolist()
train_unique =pd.DataFrame(data=train['item_nbr'].unique(), columns={'item_num'})
train_unique['isin'] =train_unique.isin(test_unique)
to_remove=train_unique[(train_unique[['isin']]==False).values].item_num.values
train_index = train[['item_nbr']].isin(to_remove).values
train_short=train[~train_index]
train_short['wd']=train_short['date'].dt.dayofweek

C:\Users\woj\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
avg_wd = train_short[['date','wd','store_nbr','item_nbr','unit_sales','id']].groupby(['wd','item_nbr','store_nbr'])['unit_sales'].mean().to_frame('avg_wday').reset_index()
avg_full = avg_wd.groupby(['item_nbr', 'store_nbr'])['avg_wday'].mean().to_frame('avg_day').reset_index()

In [5]:
newnew=pd.merge(train_short, avg_full,how='left', on=['item_nbr', 'store_nbr'])
newnew=pd.merge(newnew, avg_wd,how='left', on=['item_nbr', 'store_nbr','wd'])
newnew['onpromotion'].fillna('False')
del train, train_short

In [26]:
sum(pd.isnull(newnew['onpromotion']))

0

In [16]:
newnew.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,wd,avg_day,avg_wday
0,106672216,2017-02-18,34,463901,1.0,False,5,1.919471,1.863636
1,106672217,2017-02-18,34,463903,2.0,False,5,1.453537,1.375000
2,106672218,2017-02-18,34,464263,2.0,False,5,5.300080,5.958333
3,106672219,2017-02-18,34,464302,3.0,False,5,1.726367,2.200000
4,106672220,2017-02-18,34,464333,26.0,False,5,13.628486,17.799999

In [9]:
#preparing test data
test['wd']=test['date'].dt.dayofweek
test=pd.merge(test, avg_full,how='left', on=['item_nbr', 'store_nbr'])
test=pd.merge(test, avg_wd,how='left', on=['item_nbr', 'store_nbr','wd'])

In [11]:
newnew=pd.merge(newnew, items,how='left', on=['item_nbr'])

812752

In [16]:
items.groupby(['family','class']).count()

                                  item_nbr  perishable
family                     class
AUTOMOTIVE                 6806          5           5
                           6808          2           2
                           6810          6           6
                           6824          2           2
                           6848          5           5
BABY CARE                  6022          1           1
BEAUTY                     4210          1           1
                           4212          1           1
                           4214          2           2
                           4222          2           2
                           4228          1           1
                           4250          1           1
                           4252          5           5
                           4254          5           5
                           4255          1           1
BEVERAGES                  1114         42          42
                           1115          2           2
                           1116         18          18
                           1118         26          26
                           1120         61          61
                           1122         81          81
                           1124        100         100
                           1126         36          36
                           1132         21          21
                           1136         27          27
                           1138          9           9
                           1142         37          37
                           1144         35          35
                           1146          7           7
                           1148         62          62
...                                    ...         ...
PRODUCE                    2002          9           9
                           2004         16          16
                           2006         41          41
                           2008         34          34
                           2010          8           8
                           2012         15          15
                           2014         14          14
                           2016         27          27
                           2018         31          31
                           2020         14          14
                           2022          8           8
                           2024          1           1
                           2026         17          17
                           2028         33          33
                           2030          9           9
                           2032         19          19
                           2034          7           7
                           2070          1           1
                           2074          2           2
SCHOOL AND OFFICE SUPPLIES 6404          1           1
                           6412          1           1
                           6414          3           3
                           6426          1           1
                           6448          4           4
                           6482          5           5
SEAFOOD                    2802          2           2
                           2806          1           1
                           2850          2           2
                           2854          2           2
                           2864          1           1

[337 rows x 2 columns]